In [1]:
from RM_Lib import (
    cov_skip_miss, corr_skip_miss, cov_pairwise, corr_pairwise, ewCovar, ewCorr,
    cov_with_different_ew_var_corr, RJ_nearestPSD, _getAplus, _getPS, _getPu, wgtNorm,
    higham_nearestPSD, chol_psd, simulate_normal, simulate_pca, FittedModel, fit_normal,
    fit_general_t, general_t_ll, fit_regression_t, return_calculate, VaR_cal, simple_VaR,
    simple_VaR_sim, simple_ES, simple_ES_sim, VaR_ES, Historical_VaR_ES
)
from scipy.stats import norm
import pandas as pd
import numpy as np

In [2]:
def print_res(path):
    parts = path.split('/') 
    for part in parts:
        if 'testout' in part and '.csv' in part:
            index_testout = part.index('testout')  # 获取 'testout' 在字符串中的索引
            index_csv = part.index('.csv') # 获取 '.csv' 在字符串中的索引
            return "test" + part[index_testout+len('testout'):index_csv] + " is passed"

## Problem1 (Test)

In [3]:
# Test 1

df_test1 = pd.read_csv("data/test1.csv")
df_test1_1_res = pd.read_csv("data/testout_1.1.csv")
df_test1_2_res = pd.read_csv("data/testout_1.2.csv")
df_test1_3_res = pd.read_csv("data/testout_1.3.csv")
df_test1_4_res = pd.read_csv("data/testout_1.4.csv")

if np.allclose(df_test1_1_res, cov_skip_miss(df_test1)):
    res = print_res("data/testout_1.1.csv")
    print(res)

if np.allclose(df_test1_2_res, corr_skip_miss(df_test1)):
    res = print_res("data/testout_1.2.csv")
    print(res)

if np.allclose(df_test1_3_res, cov_pairwise(df_test1)):
    res = print_res("data/testout_1.3.csv")
    print(res)

if np.allclose(df_test1_4_res, corr_pairwise(df_test1)):
    res = print_res("data/testout_1.4.csv")
    print(res)

test_1.1 is passed
test_1.2 is passed
test_1.3 is passed
test_1.4 is passed

In [4]:
# Test 2

df_test2 = pd.read_csv("data/test2.csv")
df_test2_1_res = pd.read_csv("data/testout_2.1.csv")
df_test2_2_res = pd.read_csv("data/testout_2.2.csv")
df_test2_3_res = pd.read_csv("data/testout_2.3.csv")

if np.allclose(df_test2_1_res, ewCovar(df_test2, 0.97)):
    res = print_res("data/testout_2.1.csv")
    print(res)

if np.allclose(df_test2_2_res, ewCorr(df_test2, 0.94)):
    res = print_res("data/testout_2.2.csv")
    print(res)

# Professor's result has a problem (The value of ew_var_lbda and ew_corr_lbda are reversed)
if np.allclose(df_test2_3_res, cov_with_different_ew_var_corr(df_test2, 0.97, 0.94)):
    res = print_res("data/testout_2.3.csv")
    print(res)

test_2.1 is passed
test_2.2 is passed
test_2.3 is passed

In [5]:
# Test 3

df_test3_1 = pd.read_csv("data/testout_1.3.csv")
df_test3_2 = pd.read_csv("data/testout_1.4.csv")

df_test3_1_res = pd.read_csv("data/testout_3.1.csv")
df_test3_2_res = pd.read_csv("data/testout_3.2.csv")
df_test3_3_res = pd.read_csv("data/testout_3.3.csv")
df_test3_4_res = pd.read_csv("data/testout_3.4.csv")

if np.allclose(df_test3_1_res, RJ_nearestPSD(df_test3_1)):
    res = print_res("data/testout_3.1.csv")
    print(res)

if np.allclose(df_test3_2_res, RJ_nearestPSD(df_test3_2)):
    res = print_res("data/testout_3.2.csv")
    print(res)

if np.allclose(df_test3_3_res,higham_nearestPSD(df_test3_1)):
    res = print_res("data/testout_3.3.csv")
    print(res)

if np.allclose(df_test3_4_res, higham_nearestPSD(df_test3_2)):
    res = print_res("data/testout_3.4.csv")
    print(res)

test_3.1 is passed
test_3.2 is passed
Converged in 20 iterations.
test_3.3 is passed
Converged in 2 iterations.
test_3.4 is passed

In [6]:
# Test 4

df_test4 = pd.read_csv("data/testout_3.1.csv")

df_test4_res = pd.read_csv("data/testout_4.1.csv")

if np.allclose(df_test4_res, chol_psd(df_test4)):
    res = print_res("data/testout_4.1.csv")
    print(res)

test_4.1 is passed

In [7]:
# Test 5

df_test5_1 = pd.read_csv("data/test5_1.csv")
df_test5_2 = pd.read_csv("data/test5_2.csv")
df_test5_3 = pd.read_csv("data/test5_3.csv")

df_test5_1_res = pd.read_csv("data/testout_5.1.csv")
df_test5_2_res = pd.read_csv("data/testout_5.2.csv")
df_test5_3_res = pd.read_csv("data/testout_5.3.csv")
df_test5_4_res = pd.read_csv("data/testout_5.4.csv")
df_test5_5_res = pd.read_csv("data/testout_5.5.csv")

if np.allclose(df_test5_1_res,np.cov(simulate_normal(100000,df_test5_1), rowvar = False), atol=1e-03):
    res = print_res("data/testout_5.1.csv")
    print(res)

if np.allclose(df_test5_2_res, np.cov(simulate_normal(100000,df_test5_2), rowvar = False), atol=1e-03):
    res = print_res("data/testout_5.2.csv")
    print(res)

if np.allclose(df_test5_3_res,np.cov(simulate_normal(100000, RJ_nearestPSD(df_test5_3)), rowvar = False), atol=1e-03):
    res = print_res("data/testout_5.3.csv")
    print(res)

if np.allclose(df_test5_4_res,np.cov(simulate_normal(100000, higham_nearestPSD(df_test5_3)), rowvar = False), atol=1e-03):
    res = print_res("data/testout_5.4.csv")
    print(res)

if np.allclose(df_test5_5_res, np.cov(simulate_pca(df_test5_2, 100000, pctExp=0.99), rowvar = False), atol=1e-03):
    res = print_res("data/testout_5.5.csv")
    print(res)

test_5.1 is passed
test_5.2 is passed
test_5.3 is passed
Converged in 16 iterations.
test_5.4 is passed
test_5.5 is passed

In [8]:
# Test 6

df_test6 = pd.read_csv("data/test6.csv")

df_test6_1_res = pd.read_csv("data/test6_1.csv")
df_test6_2_res = pd.read_csv("data/test6_2.csv")

if np.allclose(return_calculate(df_test6, "discrete").iloc[:,1:], df_test6_1_res.iloc[:,1:]) and \
    np.allclose(return_calculate(df_test6, "discrete").iloc[:,1], df_test6_1_res.iloc[:,1]):
    res = print_res("data/testout_6.1.csv")
    print(res)

if np.allclose(return_calculate(df_test6, "log").iloc[:,1:], df_test6_2_res.iloc[:,1:]) and \
    np.allclose(return_calculate(df_test6, "log").iloc[:,1], df_test6_2_res.iloc[:,1]):
    res = print_res("data/testout_6.2.csv")
    print(res)

test_6.1 is passed
test_6.2 is passed

In [9]:
# Test 7

df_test7_1 = pd.read_csv("data/test7_1.csv")
df_test7_2 = pd.read_csv("data/test7_2.csv")
df_test7_3 = pd.read_csv("data/test7_3.csv")

df_test7_1_res = pd.read_csv("data/testout7_1.csv")
df_test7_2_res = pd.read_csv("data/testout7_2.csv")
df_test7_3_res = pd.read_csv("data/testout7_3.csv")

normal_model = fit_normal(df_test7_1)
df = pd.DataFrame({"mu": normal_model.error_model.mean(), "sigma": normal_model.error_model.std()})
if np.allclose(df, df_test7_1_res):
    res = print_res("testout7_1.csv")
    print(res)
    
opt_para, t_model = fit_general_t(df_test7_2)
if np.allclose(opt_para, df_test7_2_res):
    res = print_res("testout7_2.csv")
    print(res)

opt_para, t_model = fit_regression_t(df_test7_3.iloc[:,-1],df_test7_3.iloc[:,:3])
if np.allclose(opt_para, df_test7_3_res, atol=1e-03):
    res = print_res("testout7_3.csv")
    print(res)

test7_1 is passed
test7_2 is passed
test7_3 is passed

In [10]:
# Test 8

df_test8_1 = pd.read_csv("data/test7_1.csv")
df_test8_2 = pd.read_csv("data/test7_2.csv")

df_test8_1_res = pd.read_csv("data/testout8_1.csv")
df_test8_2_res = pd.read_csv("data/testout8_2.csv")
df_test8_3_res = pd.read_csv("data/testout8_3.csv")
df_test8_4_res = pd.read_csv("data/testout8_4.csv")
df_test8_5_res = pd.read_csv("data/testout8_5.csv")
df_test8_6_res = pd.read_csv("data/testout8_6.csv")

if np.allclose(df_test8_1_res,simple_VaR(df_test8_1, "Normal", 0.05), atol=1e-03):
    res = print_res("data/testout8_1.csv")
    print(res)

if np.allclose(df_test8_2_res,simple_VaR(df_test8_2, "T", 0.05), atol=1e-03):
    res = print_res("data/testout8_2.csv")
    print(res)

if np.allclose(df_test8_3_res,simple_VaR_sim(df_test8_2, "T", N = 1000000), atol=1e-02):
    res = print_res("data/testout8_3.csv")
    print(res)

if np.allclose(df_test8_4_res,simple_ES(df_test8_1, "Normal", 0.05), atol=1e-03):
    res = print_res("data/testout8_4.csv")
    print(res)

if np.allclose(df_test8_5_res,simple_ES(df_test8_2, "T", 0.05), atol=1e-03):
    res = print_res("data/testout8_5.csv")
    print(res)

if np.allclose(df_test8_6_res,simple_ES_sim(df_test8_2, "T", N = 1000000), atol=1e-02):
    res = print_res("data/testout8_6.csv")
    print(res)

test8_1 is passed
test8_2 is passed
test8_3 is passed
test8_4 is passed
test8_5 is passed
test8_6 is passed

In [11]:
# Test 9
df_test9_port = pd.read_csv("data/test9_1_portfolio.csv")
df_test9_ret = pd.read_csv("data/test9_1_returns.csv")

df_test9_1_res = pd.read_csv("data/testout9_1.csv")

In [12]:
total_V = 0
A_V = df_test9_port.loc[0, "Starting Price"] * df_test9_port.loc[0, "Holding"]
B_V = df_test9_port.loc[1, "Starting Price"] * df_test9_port.loc[1, "Holding"]

for i in range(df_test9_port.shape[0]):
    total_V += df_test9_port.loc[i, "Starting Price"] * df_test9_port.loc[i, "Holding"]
    
VaR_95_pct_A = simple_VaR(df_test9_ret["A"], "Normal", 0.05)[0]
VaR_99_pct_A = simple_VaR(df_test9_ret["A"], "Normal", 0.01)[0]
ES_95_pct_A = simple_ES(df_test9_ret["A"], "Normal", 0.05)[0]
ES_99_pct_A = simple_ES(df_test9_ret["A"], "Normal", 0.01)[0]
VaR_95_A = VaR_95_pct_A * A_V
ES_95_A = ES_95_pct_A * A_V
VaR_99_A = VaR_99_pct_A * A_V
ES_99_A = ES_99_pct_A * A_V

In [13]:
VaR_95_pct_B = simple_VaR(df_test9_ret["B"], "T", 0.05)[0]
VaR_99_pct_B = simple_VaR(df_test9_ret["B"], "T", 0.01)[0]
ES_95_pct_B = simple_ES(df_test9_ret["B"], "T", 0.05)[0]
ES_99_pct_B = simple_ES(df_test9_ret["B"], "T", 0.01)[0]
VaR_95_B = VaR_95_pct_B * B_V
ES_95_B = ES_95_pct_B * B_V
VaR_99_B = VaR_99_pct_B * B_V
ES_99_B = ES_99_pct_B * B_V

In [14]:
dic = {"Stock": ["A","B"], 
         "VaR95": [VaR_95_A, VaR_95_B], 
                  "ES95": [ES_95_A, ES_95_B], 
                  "VaR95_Pct": [VaR_95_pct_A, VaR_95_pct_B], 
                 "ES95_Pct": [ES_95_pct_A, ES_95_pct_B]}
AB = pd.DataFrame(dic)

In [15]:
# Data Preparation
current_prices = pd.Series({"A": df_test9_port.loc[0,"Starting Price"], "B": df_test9_port.loc[1,"Starting Price"]})
nms = df_test9_port["Stock"].values
returns = df_test9_ret - np.mean(df_test9_ret, axis = 0)
Portfolio = df_test9_port[["Stock","Holding"]]

# Model fit
fittedModels = {'A': fit_normal(returns['A']), 'B': fit_general_t(returns['B'])[1]}

In [16]:
# Construct Copula, and generate simulated data
U = pd.DataFrame({nm: fittedModels[nm].u for nm in nms})
R = U.corr(method='spearman')

NSim = 5000
simU = pd.DataFrame(norm.cdf(simulate_pca(R, NSim)), columns=nms)

simulatedReturns = pd.DataFrame({'A': fittedModels['A'].eval(simU['A']), 'B': fittedModels['B'].eval(simU['B'])})

In [17]:
# Portfolio Valuation
iteration = np.arange(1, NSim + 1)
values = pd.DataFrame([(stock, Portfolio[Portfolio["Stock"] == stock]["Holding"].values[0], iter) for stock in Portfolio["Stock"] for iter in iteration], columns=['stock', 'holding', 'iteration'])
values['currentValue'] = values.apply(lambda row: current_prices[row['stock']] * row['holding'], axis=1)
values['simulatedValue'] = values.apply(lambda row: row['currentValue'] * (1.0 + simulatedReturns.loc[row['iteration'] - 1, row['stock']]), axis=1)
values['pnl'] = values['simulatedValue'] - values['currentValue']

In [18]:
# Risk Metrics
def calculate_risk_metrics(group):
    return pd.Series({
        'VaR95': VaR_ES(group['pnl'], alpha=0.05)[0],
        'ES95': VaR_ES(group['pnl'], alpha=0.05)[1],
    })

total_pnl_per_iteration = values.groupby('iteration')['pnl'].sum().reset_index(name='pnl')
totalRisk = calculate_risk_metrics(total_pnl_per_iteration).to_frame().T

totalRisk["VaR95_Pct"] = totalRisk['VaR95']/total_V
totalRisk["ES95_Pct"] = totalRisk['ES95']/total_V
totalRisk.insert(0,"Stock","Total")

In [19]:
totalRisk = pd.concat([AB, totalRisk], ignore_index=True)
totalRisk

   Stock       VaR95        ES95  VaR95_Pct  ES95_Pct
0      A   94.199987  117.905882   0.047100  0.058953
1      B  108.587912  152.268950   0.036196  0.050756
2  Total  147.329383  192.236531   0.029466  0.038447

In [20]:
df_test9_1_res

   Stock       VaR95        ES95  VaR95_Pct  ES95_Pct
0      A   94.460376  118.289371   0.047230  0.059145
1      B  107.880427  151.218174   0.035960  0.050406
2  Total  152.565684  199.704532   0.030513  0.039941

We can see that the result are similar, (for the VaR and ES represented by dollar, since the Total Value is too large, it looks like there will be a relative big difference, but if you look at the Pct, it is almost the same

In [21]:
if np.allclose(df_test9_1_res.iloc[:,3:],totalRisk.iloc[:,3:], atol=1e-02):
    res = print_res("data/testout9_1.csv")
    print(res)

test9_1 is passed

## Problem 2

We can see that the result are similar. (for the VaR and ES represented by dollar, since the Total Value is too large, it looks like there will be a relative big difference, but if you look at the Pct, it is almost the same)

In [22]:
p2_ret = pd.read_csv("problem1.csv")

In [23]:
# a
VaR_ew_N = simple_VaR(p2_ret,"EW_Normal",0.05,0.97)
ES_ew_N = simple_ES(p2_ret,"EW_Normal",0.05,0.97)
print(VaR_ew_N, ES_ew_N)

[0.09116934 0.09028951] [0.11410652 0.11322669]

In [24]:
# b
VaR_t = simple_VaR(p2_ret, "T", 0.05)
ES_t = simple_ES(p2_ret, "T", 0.05)
print(VaR_t, ES_t)

[0.07647603 0.0763823 ] [0.1132179  0.11312418]

In [25]:
# c
Historical_VaR_ES(p2_ret, 100000)

array([0.07586151, 0.07526036, 0.11618745, 0.11558631])

## Problem 3

In [26]:
df_price = pd.read_csv("DailyPrices.csv")
current_prices = df_price.iloc[-1]
df_ret = return_calculate(df_price, method = "DISCRETE")

In [27]:
df_port = pd.read_csv("portfolio.csv")
df_port

   Portfolio  Stock  Holding
0          A   AAPL      158
1          A   MSFT      178
2          A   AMZN      110
3          A   NVDA       54
4          A  GOOGL       69
..       ...    ...      ...
95         C   LRCX      194
96         C    ZTS      121
97         C      C       83
98         C    BSX      188
99         C    AMT       68

[100 rows x 3 columns]

In [28]:
# data preparation
df_price = pd.read_csv("DailyPrices.csv")
current_prices = df_price.iloc[-1]
df_ret = return_calculate(df_price, method = "DISCRETE")

# port = "A"
def copula_sim(dist, port):
    nms = df_port[df_port["Portfolio"].isin(["A","B","C"]) if port == "Total" else df_port["Portfolio"] == port]["Stock"].values

    # nms = np.append(nms,"SPY")

    returns = df_ret[nms]

    # stocks = [nm for nm in nms if nm != "SPY"]
    stocks = [nm for nm in nms]

    Portfolio = df_port[df_port["Portfolio"].isin(["A","B","C"]) if port == "Total" else df_port["Portfolio"] == port][["Stock","Holding"]]

    returns = returns - np.mean(returns, axis = 0)

    # Model fit
    # fittedModels = {'SPY': fit_normal(returns['SPY'])}
    fittedModels = {}
    if dist == "T":
        for stock in stocks:
            fittedModels[stock] = fit_general_t(returns[stock])[1]
    elif dist == "Normal":
        for stock in stocks:
            fittedModels[stock] = fit_normal(returns[stock])
    elif port == "Total" and dist == "Mix":
        for stock in stocks:
            if df_port[df_port["Stock"] == stock]["Portfolio"].values in (["A","B"]):
                fittedModels[stock] = fit_general_t(returns[stock])[1]
            else:
                fittedModels[stock] = fit_normal(returns[stock])
            
    # Construct Copula, and generate simulated data
    U = pd.DataFrame({nm: fittedModels[nm].u for nm in nms})
    R = U.corr(method='spearman')
    NSim = 5000
    simU = pd.DataFrame(norm.cdf(simulate_pca(R, NSim)), columns=nms)

    # simulatedReturns = pd.DataFrame({'SPY': fittedModels['SPY'].eval(simU['SPY'])})
    simulatedReturns = pd.DataFrame()
    for stock in stocks:
    #     simulatedReturns[stock] = fittedModels[stock].eval(simulatedReturns["SPY"],simU[stock])
        simulatedReturns[stock] = fittedModels[stock].eval(simU[stock])
    
    # Portfolio Valuation
    iteration = np.arange(1, NSim + 1)
    values = pd.DataFrame([(stock, Portfolio[Portfolio["Stock"] == stock]["Holding"].values[0], iter) for stock in Portfolio["Stock"] for iter in iteration], columns=['stock', 'holding', 'iteration'])
    values['currentValue'] = values.apply(lambda row: current_prices[row['stock']] * row['holding'], axis=1)
    values['simulatedValue'] = values.apply(lambda row: row['currentValue'] * (1.0 + simulatedReturns.loc[row['iteration'] - 1, row['stock']]), axis=1)
    values['pnl'] = values['simulatedValue'] - values['currentValue']
    
    # Risk Metrics
    def calculate_risk_metrics(group):
        return pd.Series({
            'VaR95': VaR_ES(group['pnl'], alpha=0.05)[0],
            'ES95': VaR_ES(group['pnl'], alpha=0.05)[1],
            'VaR99': VaR_ES(group['pnl'], alpha=0.01)[0],
            'ES99': VaR_ES(group['pnl'], alpha=0.01)[1],
            'Standard_Dev': group['pnl'].std(),
            'min': group['pnl'].min(),
            'max': group['pnl'].max(),
            'mean': group['pnl'].mean()
        })

    stockRisk = values.groupby('stock').apply(calculate_risk_metrics).reset_index()
    total_pnl_per_iteration = values.groupby('iteration')['pnl'].sum().reset_index(name='pnl')
    totalRisk = calculate_risk_metrics(total_pnl_per_iteration).to_frame().T
    totalRisk['stock'] = 'Total'
    riskOut = pd.concat([stockRisk, totalRisk], ignore_index=True)
    return riskOut

In [29]:
# It will take some time to run
result_A = copula_sim("T", "A")
result_B = copula_sim("T", "B")
result_C = copula_sim("Normal", "C")
result_T = copula_sim("Mix", "Total")

In [30]:
result_A

,stock,VaR95,ES95,VaR99,ES99,Standard_Dev,min,max,mean
0,AAPL,763.382933,1123.915094,1296.676034,1854.952234,496.514643,-6186.634238,2894.949386,5.795614
1,ABBV,208.383074,305.448187,350.032805,482.852032,137.566618,-1867.878295,959.541891,3.248508
2,ACN,494.379404,696.949264,825.076830,1054.169513,315.178494,-1975.359653,1912.366664,1.300455
3,ADBE,2796.050016,4078.092108,4876.953032,6283.214873,1853.916501,-14068.032206,14187.708486,42.401774
4,AMZN,552.328912,805.298419,951.851772,1278.043687,351.649175,-2444.738547,1642.100868,-0.904687
5,AVGO,3832.844781,5717.602305,6730.432503,9089.072862,2484.004077,-21263.877666,21905.519240,-146.232768
6,BAC,52.047760,74.964333,87.633115,116.986512,34.065439,-267.900321,207.407323,0.481837
7,BRK-B,1224.647578,1766.471947,1997.587037,2823.530943,793.089880,-19199.005690,4571.702196,-11.962653
8,COST,2155.136421,3340.320075,4057.617799,5689.681150,1511.321683,-15060.219983,11795.248670,48.096207
9,CRM,917.620369,1341.961261,1613.080355,2115.044214,590.382347,-4700.541982,5546.208392,-1.108431
10,CSCO,196.671831,285.670345,314.769089,461.607239,128.238055,-1759.909739,1127.853175,0.093131
11,CVX,576.232370,793.302418,906.072795,1145.139808,366.414828,-1891.399227,2428.819270,9.454575
12,GOOG,746.398132,1077.016733,1300.540558,1677.134245,471.821523,-2903.553270,2336.754844,0.084245
13,GOOGL,297.836381,438.349889,533.246282,682.182681,191.772834,-1026.675703,1026.103847,0.158108
14,HD,1276.169134,1785.977804,2055.496943,2701.880211,828.322283,-3935.032697,4333.789074,27.667780
15,JNJ,199.269191,299.128332,339.955651,488.872160,130.860365,-1889.106235,1272.307323,1.421980
16,JPM,514.605390,783.723864,902.360748,1328.218476,353.020501,-4092.419876,3387.707947,3.274018
17,KO,66.634796,88.151649,99.522709,123.006942,40.623677,-207.285977,248.760921,0.013770
18,LLY,2798.644256,4281.072496,4798.757202,7028.738703,1796.501052,-16185.556701,12797.390124,-64.707671
19,MA,1478.417333,2110.607771,2479.665058,3188.408386,948.267194,-9536.905817,6217.130130,-11.428156
20,MCD,269.846633,390.404179,442.229487,611.419443,167.693258,-1629.698509,1054.721798,-2.190920
21,META,1056.934505,1724.822190,1971.349959,3184.136025,737.646074,-9066.268832,7677.077045,-19.497496
22,MRK,121.046377,163.474664,186.109800,225.302820,75.994603,-491.126309,606.272119,0.653010
23,MSFT,1727.231435,2501.248591,2974.048245,3868.315249,1092.205709,-7881.181091,6202.150760,-28.623635
24,NVDA,1191.540739,1807.390046,2098.588423,3013.108658,758.032775,-5636.371983,4897.324390,-41.102608
25,PEP,457.268058,648.486431,757.497343,976.982759,295.090775,-1646.542256,2095.953880,0.598146
26,PG,177.720754,240.202960,276.516965,349.318806,109.902429,-691.804720,564.897789,0.582978
27,TMO,1214.462245,1615.407169,1831.153165,2251.787193,744.233571,-4633.799728,3724.507608,-4.597936
28,TSLA,899.104180,1238.697052,1415.750349,1793.064447,570.962624,-3461.382090,2934.866660,16.025177
29,UNH,639.944894,948.297656,1102.612572,1458.210959,451.578898,-3685.524521,8191.380602,19.840530
30,V,272.751582,392.122819,456.244970,600.188240,171.102411,-1904.034560,1289.248359,-4.383750
31,WMT,209.781061,298.280428,351.082503,440.428921,132.473782,-770.265322,1133.643921,0.657748
32,XOM,213.759092,283.392319,326.058298,389.233564,132.671883,-693.219967,674.586178,1.570113
33,Total,20993.782985,28123.791412,31449.637274,39748.417001,12779.643728,-87463.455822,55786.958927,-153.321008

In [31]:
result_B

,stock,VaR95,ES95,VaR99,ES99,Standard_Dev,min,max,mean
0,ABT,233.691603,321.633366,376.777717,464.069730,145.972516,-710.576547,988.857938,0.242053
1,AMAT,304.140717,421.026833,474.267593,609.768409,187.988324,-984.121469,1047.220913,-1.316551
2,AMD,389.921120,570.826231,665.157949,904.385542,255.650839,-1863.848791,1776.708463,2.387980
3,AMGN,367.975089,551.812775,663.208688,894.856983,241.519000,-1719.282421,3514.979618,-19.991915
4,BA,1048.705187,1710.750909,2066.596150,3003.751408,731.013963,-6513.512650,4591.546845,18.916187
5,BMY,180.947847,250.276023,286.774767,370.294234,111.733901,-734.933011,569.896775,-1.364715
6,CAT,1029.055012,1501.323048,1737.688046,2409.945924,651.547379,-5587.673968,6463.081664,-20.590323
7,CMCSA,63.596104,89.874706,101.754898,137.016178,39.291526,-392.256234,250.297397,-0.528573
8,COP,449.513002,634.083396,722.052440,957.017017,286.620990,-2176.611572,1892.960542,-1.984276
9,DHR,466.916857,685.887759,762.940779,1083.453235,311.558366,-4214.536788,2073.795701,6.120452
10,DIS,444.657336,646.155711,760.365765,1042.287050,289.017105,-2016.899172,1734.858885,12.510496
11,GE,199.418344,273.270737,320.227514,399.099247,124.848137,-737.714413,994.163578,0.093042
12,HON,632.633719,882.981775,1035.767222,1319.747758,409.960840,-2166.050817,2691.850006,5.327309
13,IBM,175.615340,262.692620,316.802752,421.180907,119.007562,-855.903069,844.880078,3.115023
14,INTC,111.899268,162.592110,189.525596,239.595946,72.025354,-599.181028,391.268462,-0.967521
15,INTU,1239.753089,1731.887527,2069.231322,2570.971225,801.877542,-4471.208322,5949.282330,10.140474
16,LIN,800.232632,1221.509832,1382.213863,2067.644869,532.423993,-6605.112996,4843.738703,-10.515770
17,LOW,918.954034,1316.962501,1512.016160,2015.938729,573.157267,-4655.185644,4598.279997,-9.269115
18,NEE,109.959631,154.294601,177.425577,244.215000,70.081947,-688.247460,424.338143,0.844491
19,NFLX,1068.869289,1671.129385,1997.951710,2775.575644,709.590831,-9422.704921,7387.926766,-36.257037
20,NKE,382.506231,600.465222,717.016292,1014.014194,261.130344,-2818.136275,1735.915614,-2.700188
21,NOW,1450.308511,2084.724595,2459.490870,3318.002882,941.396299,-10456.531823,7748.180923,25.381033
22,ORCL,335.294342,515.145681,587.603118,870.950856,225.379128,-2843.260822,2429.395890,2.076939
23,PFE,61.753672,85.088414,100.595627,125.764269,38.583521,-204.034266,231.282673,-0.372861
24,PM,171.305310,238.719552,286.571101,337.211395,109.706593,-543.281664,621.140339,5.230453
25,QCOM,784.596525,1089.416359,1235.617295,1647.812911,497.557458,-3039.316234,2687.463101,1.300666
26,SPGI,1090.112028,1512.622104,1747.035329,2213.382101,681.266963,-4139.611729,4506.527118,0.939810
27,T,42.679606,69.808896,82.752202,124.680358,33.234116,-301.889329,798.628450,0.383554
28,TXN,786.598258,1071.776543,1268.869385,1553.110394,496.320245,-2494.037695,2284.017896,3.362455
29,UNP,274.733436,412.235036,482.542919,674.238707,172.899210,-1213.768726,1122.934414,-6.973410
30,UPS,752.965624,1063.761327,1215.303175,1582.445884,468.407407,-3600.809285,3057.388017,3.205710
31,VZ,142.069416,211.746868,248.795078,338.326922,94.338682,-834.603800,749.244982,3.766997
32,WFC,193.392283,276.963418,317.244525,424.213376,122.846759,-1171.259196,853.476008,1.899673
33,Total,12011.944870,15973.659105,18102.881556,22576.622361,7274.895960,-46020.728869,34775.501991,-5.587456

In [32]:
result_C

,stock,VaR95,ES95,VaR99,ES99,Standard_Dev,min,max,mean
0,ADI,759.949535,945.948051,1064.848234,1207.801618,460.870758,-1423.494924,1923.975222,11.860292
1,ADP,842.012762,1054.082034,1204.910846,1385.990848,518.966607,-2120.681826,1686.802395,14.527806
2,AMT,339.586847,433.985540,496.111080,562.996587,211.354308,-709.902264,914.104619,2.456541
3,AXP,509.036280,637.053119,724.456939,814.777093,310.748228,-1040.505216,1058.565153,1.858898
4,BKNG,12251.596749,15472.495455,17174.011007,20001.095155,7522.741596,-29072.559527,25358.031858,139.194028
5,BLK,1654.984577,2113.939716,2394.991693,2780.808988,1014.664676,-3774.188376,3276.929680,9.344275
6,BSX,204.671530,261.993269,295.120910,341.936707,126.546590,-444.022414,462.634528,2.487874
7,C,96.689688,121.088583,136.001104,154.097220,59.497361,-205.550768,201.764963,0.910214
8,CB,904.134245,1137.228791,1279.718060,1470.114679,560.148631,-1857.199789,2033.290611,11.255930
9,CI,1176.207150,1453.643359,1627.173982,1854.348662,717.829199,-3083.390591,2747.182688,-5.332341
10,CVS,214.425629,273.615979,315.965377,362.151937,130.736091,-610.878612,491.674721,-0.152334
11,DE,637.121731,804.119901,892.200920,1056.245545,387.114857,-1417.385217,1406.956334,4.382131
12,ELV,1498.064792,1882.057044,2130.104460,2441.790742,909.860910,-3142.734140,3125.175358,-8.064024
13,ETN,560.015278,707.197496,794.433442,920.674552,346.756574,-1255.105418,1160.310704,7.784273
14,GILD,331.026239,411.931834,475.474192,523.199191,200.385042,-648.237646,665.426553,2.377985
15,GS,440.358377,567.762007,664.743738,758.192697,270.350666,-1021.983025,952.270431,2.613130
16,ISRG,672.153829,846.551491,952.365488,1088.014743,409.142616,-1653.645849,1380.706119,4.835146
17,LMT,699.925126,886.296096,1003.823659,1142.438421,432.051302,-1600.709293,1496.306829,-0.364248
18,LRCX,5488.165903,6808.251835,7751.686259,8617.963378,3361.739696,-11384.213818,12225.210556,64.994217
19,MDLZ,166.656871,210.210040,233.360729,275.084448,103.946975,-433.238013,342.706237,2.164759
20,MDT,203.757226,256.366228,292.081366,330.293333,125.291328,-428.093096,443.172875,2.963785
21,MMC,329.916789,413.866263,470.705206,532.512453,203.755970,-669.382954,642.204958,4.226331
22,MS,306.945840,384.877483,436.754611,497.302489,187.485111,-675.522406,712.974893,1.536741
23,PGR,748.186461,940.494092,1058.800257,1196.046598,466.592945,-1567.820494,1572.278893,11.679690
24,PLD,527.742810,667.984588,758.023798,866.952987,324.145216,-1198.870158,1179.672266,4.179113
25,REGN,4713.300987,5889.894663,6661.522252,7828.917654,2852.621729,-11214.811203,9695.525098,50.888298
26,RTX,341.787706,432.300467,484.034388,552.209519,208.247521,-763.047945,743.406433,3.159650
27,SBUX,428.745002,535.412464,599.236069,680.361704,262.872567,-942.272131,854.449444,6.881928
28,SCHW,372.914207,457.324523,523.228525,592.633583,223.088545,-932.232813,823.709243,4.315316
29,SLB,400.554168,519.256751,594.344309,681.231427,250.326782,-945.055009,895.048852,4.893415
30,SYK,1414.945288,1753.291783,1976.675290,2271.994172,855.963331,-2848.163054,2996.563127,16.125605
31,TJX,304.196722,387.834087,438.554393,508.010998,189.007233,-733.270092,666.886387,5.478486
32,VRTX,1583.986430,2024.935770,2351.187415,2644.712070,974.442018,-3539.711430,3187.583967,17.895455
33,ZTS,643.523442,810.633178,917.983504,1082.638461,396.661736,-1551.098421,1458.924173,9.616517
34,Total,27525.219185,34281.352943,37859.348277,44138.596860,16752.882930,-58234.361354,56626.380754,412.974884

In [33]:
result_T

,stock,VaR95,ES95,VaR99,ES99,Standard_Dev,min,max,mean
0,AAPL,791.804480,1186.501810,1394.472023,1895.768323,520.950289,-4226.680287,6972.272579,1.153249
1,ABBV,208.018835,301.415564,343.324053,482.901941,134.842552,-1262.335307,695.995962,3.494042
2,ABT,236.084798,332.677674,391.065920,491.638434,147.767749,-748.650108,907.766215,-0.756098
3,ACN,500.891026,705.333245,849.527530,1053.774942,313.196807,-2196.476311,2386.670100,0.195117
4,ADBE,2836.937325,4138.804093,4826.800568,6526.181985,1831.322526,-12305.455623,9144.781910,38.492702
...,...,...,...,...,...,...,...,...,...
96,WFC,188.361138,271.098038,310.768723,419.775626,121.782936,-809.103816,797.267285,3.157456
97,WMT,201.851870,285.168564,326.879615,429.467374,132.556499,-960.629334,951.042156,1.708504
98,XOM,219.606201,289.476221,329.855432,398.784290,133.287476,-639.766731,754.406252,2.696690
99,ZTS,641.228512,806.276456,916.402803,1019.496347,387.499674,-1245.132505,1213.947899,6.094297
100,Total,58333.553034,75034.435384,84230.009506,102929.930855,35438.809670,-180153.874621,120627.353069,158.916461